{
    "extends": [
      "airbnb-typescript",
      "airbnb/hooks",
      "plugin:@typescript-eslint/recommended",
      "plugin:jest/recommended",
      "plugin:prettier/recommended",
      "prettier"
    ],
    "plugins": ["react", "@typescript-eslint", "jest"],
    "env": {
      "browser": true,
      "es6": true,
      "jest": true
    },
    "globals": {
      "Atomics": "readonly",
      "SharedArrayBuffer": "readonly"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      },
      "ecmaVersion": 2018,
      "sourceType": "module",
      "project": "./tsconfig.json"
    },
    "rules": {
      "linebreak-style": "off",
      "react/jsx-uses-react": 1,
      "import/export": 0,
      "import/named": 0,
      "import/no-unresolved": 0,
      "prettier/prettier": [
        "error",
        {
          "singleQuote": true,
          "trailingComma": "all",
          "bracketSpacing": true,
          "jsxBracketSameLine": false,
          "tabWidth": 2,
          "endOfLine": "auto"
        }
      ],
      "react/no-unescaped-entities": 0,
      "no-extra-boolean-cast": 0,
      "no-unused-vars": 0,
      "import/order": [
        "error",
        {
          "groups": ["builtin", "external", "internal"],
          "pathGroups": [
            {
              "pattern": "react.*?",
              "group": "external",
              "position": "before"
            }
          ],
          "pathGroupsExcludedImportTypes": ["react"],
          "newlines-between": "always"
        }
      ],
      "@typescript-eslint/explicit-module-boundary-types": "off",
      "jsx-a11y/label-has-associated-control": 0,
      "jsx-a11y/label-has-for": 0,
      "no-param-reassign": ["error", { "props": false }]
    }
  }
  
  
  